<blockquote id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <small class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </small>
  <p><%= feed_item.content %></p>
  <footer>
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    <%= render partial: 'shared/delete_post_link', locals: { micropost: feed_item } %>
  </footer>
</blockquote>